/.vscode
/release
/release-64
/Plugins/HTMLToMarkdownRust/target
/Plugins/ReadPDF/target
/Plugins/Speak/target
Plugins/GUICPP/XGUI.dll.manifest
/Archive
/Releases
/AgentTeamApprovals
workspace.code-workspace
*.exe
*.zip
*.dll
/AITeamReviewing
*.xojo_uistate
*.d
*.res
*.exp
*.lib
*.log
*.lock
*.pdb
*.tag
/Documentation
/CrossBasic/cbarchive
/Plugins/HTMLToMarkdown/target
*.a
/Website
