/.vscode
/release
/release-64
/Plugins/HTMLToMarkdownRust/target
/Plugins/ReadPDF/target
/Plugins/Speak/target
Plugins/GUICPP/XGUI.dll.manifest
/Archive
/Releases
/AgentTeamApprovals
workspace.code-workspace
*.exe
*.zip
*.dll
/AITeamReviewing
*.xojo_uistate
*.d
*.res
*.exp
*.lib
*.log
*.lock
*.pdb
*.tag
/Documentation
/CrossBasic/cbarchive
/Plugins/HTMLToMarkdown/target
*.a
/Website
*.so
release-64-linux/amortizationschedule.csv
release-64-linux/example.txt
release-64-linux/example.bin
release-64-linux/mydb.sqlite
release-64-linux/Scripts/code.txt
/release-64-linux
/release-64-windows
